.chatContent{
    /* background-color: white; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    animation-name: chatContentAnimation;
    animation-duration: 300ms;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    /* max-width: 100%; */
}

@keyframes chatContentAnimation {
    from{
        transform: scale(0.6);
        opacity: 0.6;
    }
    to{
        opacity: 1;
        transform: scale(1.0);
    }
}

.chatContentHeader{
    padding-bottom: 15px;
    /* border-bottom: 1px solid rgb(187, 105, 201); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otherUserInfo{
    display: flex;
    align-items: center;
}

.otherUserInfo>p{
    margin: 0;
    font-weight: 600;
}

/* .settingButton{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #8E24AA;
} */

.chatContentBody{
    background-color: rgb(252, 252, 252);
    overflow: auto;
    flex-grow: 1;
    border-radius: 12px;
}

.messages:first-child{
    margin-top: 10px;
}

.chatContentFooter{
    display: flex;
    align-items: center;
    padding-top: 15px;
}


/* .chatContentFooter>input{
    border-radius: 50px;
    position: relative;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;

} */

.messageTextField{
    position: relative;
    flex-grow: 1;
    border : #0288D1 solid 2px;
    /* background: linear-gradient(21deg, #10abff, #1beabd); */
    padding: 10px;
    font-size: 1rem;
    display: inline-block;
    border-radius: 9999em;
}

.spacer{
    width: 10px;
}
.chatContentFooter>button{
    width: 44px;
    height: 44px;
    background-color: #03A9F4;
    border : none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding: 0;
    border-radius: 150px;
    line-height: 36px;
    transition: all cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.chatContentFooter>button:hover{
    transform: scale(1.1);
}


.loading-chat{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
