* {
  box-sizing: border-box;
}

html,
body{
  height: 100%;
}

#root{
  background-color :#E0FCFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainDiv{
  max-width: 90%;
  margin: auto;
  background-color: white;
  min-height: 80vh;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  padding-left: 0;
}