* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  background-color: rgba(224, 252, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  padding: 30px;
  justify-content: center;
  display: flex;
}

.modal {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  display: grid;
}

.modal>button{
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 20x;
  justify-self: right;
}

.modal-visible {
  animation-name: modalFadeInAnimation;
  animation-duration: 200ms;
}

@keyframes modalFadeInAnimation {
  from {
    opacity: 0.3;
    transform: scale(0.6);
  }
  to {
    opacity: 1.0;
    transform: scale(1.0);
  }
}


.mainDiv {
  max-width: 90%;
  margin: auto;
  background-color: white;
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  padding-left: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(112, 152, 218, 0.7);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(112, 152, 218, 1);
}